{{ 'custom-banner.js' | asset_url | script_tag }}


<section class="custom_nav_banner" id="{{section.id}}" >


  <div
    class="banner-overlay"
    style="
      background: {{ section.settings.overlay_color }};
      opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};
    "
  ></div>


  <div class="page-width">
    <div class="page_warpper">


      <div class="image_text">


        <div class="content_block">


          <h2 class="hero-heading">
            {{ section.settings.heading_text }}
            <span
              class="highlight-text"
              style="color: {{ section.settings.highlight_color }};"
            >
              {{ section.settings.highlight_text }}
            </span>
          </h2>


          <p class="hero-subtext">
            {{ section.settings.subtext }}
          </p>


          {% if section.settings.button_text != blank %}
            <a href="{{ section.settings.button_link }}" class="bundle-btn">
              {{ section.settings.button_text }}
            </a>
          {% endif %}


        </div>


        <div class="data_images_block">
          <div class="image_block">
            {% if section.settings.main_data_image != blank %}
              <img class="data_image" src="{{ section.settings.main_data_image | img_url: 'master' }}">
            {% endif %}
          </div>


          <div class="mobile_view" style="display: none;">
            {% if section.settings.mobile_view != blank %}
              <img class="data_images" src="{{ section.settings.mobile_view | img_url: 'master' }}">
            {% endif %}
          </div>
        </div>


      </div>


    </div>
  </div>
</section>


            {% schema %}
{
  "name": "Bundle Banner Section",
  "settings": [
   
     {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },


    {
      "type": "textarea",
      "id": "heading_text",
      "label": "Heading Text",
      "default": "Smart stack, smarter price - shop curated bundles and"
    },
    {
      "type": "text",
      "id": "highlight_text",
      "label": "Highlighted Text",
      "default": "save 30%."
    },
    {
      "type": "textarea",
      "id": "subtext",
      "label": "Sub Text",
      "default": "Clinically informed formulas that support energy, balance, and everyday wellness."
    },
    {
      "type": "color",
      "id": "highlight_color",
      "label": "Highlight Color",
      "default": "#00bcd4"
    },
    {
      "type": "image_picker",
      "id": "main_data_image",
      "label": "Main Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_view",
      "label": "Main Mobile Image"
    },
    {
  "type": "text",
  "id": "button_text",
  "label": "Button Text",
  "default": "Shop Now"
},
{
  "type": "url",
  "id": "button_link",
  "label": "Button Link"
},
{
  "type": "color",
  "id": "btn_bg",
  "label": "Button Background",
  "default": "#00bcd4"
},
{
  "type": "color",
  "id": "btn_text",
  "label": "Button Text Color",
  "default": "#ffffff"
},
{
  "type": "color",
  "id": "btn_hover_bg",
  "label": "Button Hover Background",
  "default": "#0097a7"
},
{
  "type": "image_picker",
  "id": "bg_image",
  "label": "Background Image (Desktop)"
},
{
  "type": "image_picker",
  "id": "bg_image_mobile",
  "label": "Background Image (Mobile)"
},
{
  "type": "color",
  "id": "overlay_color",
  "label": "Overlay Color",
  "default": "#000000"
},
{
  "type": "range",
  "id": "overlay_opacity",
  "label": "Overlay Opacity",
  "min": 0,
  "max": 100,
  "step": 5,
  "default": 40
}
  ],
  "presets": [
    {
      "name": "Bundle Banner Section"
    }
  ]
}
{% endschema %}








<style>
 
   #{{section.id}}.custom_nav_banner {
    width: 100%;
    position: relative;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
}






/* Overlay */
#{{section.id}}.custom_nav_banner::after {
    content: "";
    position: absolute;
    inset: 0;
    background: {{ section.settings.overlay_color }};
    opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};
    z-index: 1;
}


/* Keep content above overlay */
#{{section.id}}.custom_nav_banner .page-width {
    position: relative;
    z-index: 2;
}




  #{{section.id}} .bundle-btn {
    display: inline-block;
    padding: 14px 30px;
    background: {{ section.settings.btn_bg }};
    color: {{ section.settings.btn_text }};
    border-radius: 50px;
    text-decoration: none;
    font-family: 'Nunito Sans';
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
    width: fit-content;
}


#{{section.id}} .bundle-btn:hover {
    background: {{ section.settings.btn_hover_bg }};
    color: {{ section.settings.btn_hover_text }};
    transform: translateY(-2px);
}
 
#{{section.id}} .custom_nav_banner {
    width: 100%;
    position: relative;
    background: #000;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
#{{section.id}}.custom_nav_banner .page-width {
    max-width: 1440px !important;
   
}
#{{section.id}}.custom_nav_banner .page_warpper {
    width: 100%;
    position: relative;
}
#{{section.id}}.custom_nav_banner .page_warpper .image_text {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    width: calc(100vw - ((100vw - 100%) / 2));
    margin-right: calc(48% - 50vw);
    overflow: visible;
}
#{{section.id}}.custom_nav_banner .page_warpper .image_text .content_block {
    width: 38%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
}
#{{section.id}}.custom_nav_banner .page_warpper .image_text .data_images_block {
    width: 62%;
}
#{{section.id}}.custom_nav_banner .page_warpper .image_text .data_images_block .image_block {
    width: 100%;
    font-size: 0;
}
#{{section.id}}.custom_nav_banner .page_warpper .image_text .data_images_block .image_block img.data_image {
    width: 100%;
    display: block;
        border-bottom-right-radius: 30px;
}
#{{section.id}}.custom_nav_banner .page_warpper .image_text .content_block h2.hero-heading {
    font-family: 'Libre Baskerville';
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #ffffff;
    margin: 0;
    max-width: 470px;
}
#{{section.id}}.custom_nav_banner .page_warpper .image_text .content_block p.hero-subtext {
    margin: 0;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #ffffff;
    max-width: 550px;
}
.mobile-menu ul li {
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.3s ease;
}


.mobile-menu.active ul li {
  opacity: 1;
  transform: translateX(0);
}
.custom-header .search-modal.modal__content.gradient .modal-overlay::after {
content: unset;
}
.custom-header .search-modal.modal__content.gradient {
    border-radius: 100px;
    background: #9cccd7;
}
.custom-header .search-modal.modal__content.gradient .field::after {
  content: '';
  border-radius:100px;
}
.custom-header .search-modal.modal__content.gradient .field input {
    border-radius: 100px;
}
@media (min-width: 1700px) {


#{{section.id}}.custom_nav_banner .page_warpper .image_text .data_images_block {
    width: 100%;
}
}
@media (max-width: 1440px) {
#{{section.id}}.custom_nav_banner .page_warpper .image_text .content_block {
    width: 45%;
   
}
#{{section.id}}.custom_nav_banner .page_warpper .image_text {


    width: calc(100vw - ((100vw - 100%) / 2));
   
}
#{{section.id}}.custom_nav_banner .page_warpper .image_text .data_images_block {
    width: 55%;
}
    .custom_nav_banner .header-wrapper {
       
        margin: 0px 20px;
    }


}




@media (max-width: 1024px) {




#{{section.id}}.custom_nav_banner .page_warpper .image_text .content_block h2.hero-heading {
    font-size: 32px;
      line-height: 35px;
   
}
#{{section.id}}.custom_nav_banner .page_warpper .image_text .content_block p.hero-subtext {
        font-size: 18px;
    line-height: 22px;
   }
}
@media (max-width: 1095px) {
#{{section.id}}.custom_nav_banner .page_warpper .image_text .content_block {
   
    padding-top: 120px;
}
}


@media (max-width: 989px) {
#{{section.id}}.custom_nav_banner .page_warpper .image_text {
    flex-direction: column-reverse;
    width: 100%;
}
    #{{section.id}}.custom_nav_banner .page_warpper .image_text .content_block {
                width: 100%;
        padding: 0px 20px;
       margin: -80px;
        padding-bottom: 120px;
    }
#{{section.id}}.custom_nav_banner .page_warpper .image_text .data_images_block .image_block {
   
    display: none;
}
#{{section.id}}.custom_nav_banner .page_warpper .image_text .data_images_block .mobile_view {
    display: inline-block !important;
}
#{{section.id}}.custom_nav_banner .page_warpper .image_text .data_images_block .mobile_view img.data_images {
    width: 100%;
    display: inline-flex;
}
#{{section.id}}.custom_nav_banner .page_warpper .image_text .data_images_block {
        width: 100%;
    }
    #{{section.id}}.custom_nav_banner {
    border-radius: unset;
}
}


@media (max-width: 768px) {


  #{{section.id}}.custom_nav_banner{
        border-bottom-left-radius: 0px !important;
     border-bottom-right-radius: 0px !important;
  }


    #{{section.id}}.custom_nav_banner .page-width {
    max-width: 1440px !important;
    padding: 0;
}
#{{section.id}}.custom_nav_banner .page_warpper .image_text .content_block h2.hero-heading {
        font-size: 28px!important;
        line-height: 29px;
        max-width: 370px !important;
    }
        #{{section.id}}.custom_nav_banner .page_warpper .image_text .content_block p.hero-subtext {
 
    max-width: 390px;
}


#{{section.id}}.custom_nav_banner-version-3 .page_warpper .image_text .content_block{
width:85% !important;
}
}




@media (max-width: 500px) {
    #{{section.id}}.custom_nav_banner .page_warpper .image_text .content_block {
        width: 100%;
     margin: -70px;
    }
    #{{section.id}}.custom_nav_banner .page_warpper .image_text .content_block {
       
        padding-bottom: 100px;
    }
       #{{section.id}}.custom_nav_banner .page_warpper .image_text .content_block p.hero-subtext {
        font-size: 16px;
        line-height: 20px;
    }
  }






  #{{section.id}}.custom_nav_banner {
    position: relative;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
}


/* Overlay */
#{{section.id}} .banner-overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
}


/* Content above overlay */
#{{section.id}}.custom_nav_banner .page-width {
    position: relative;
    z-index: 2;
}


  </style>

